'context-menu':
  'atom-text-editor[data-grammar~="todo"]': [
    {'type': 'separator'}
    {
      'label': 'Add Task Below',
      'command': 'tasks:add'
    }
    {
      'label': 'Add Task Above',
      'command': 'tasks:add-above'
    }
    {
      'label': 'Complete Task',
      'command': 'tasks:complete'
    }
    {
      'label': 'Cancel Task',
      'command': 'tasks:cancel'
    }
    {
      'label': 'Archive Tasks',
      'command': 'tasks:archive'
    }
    {
      'label': 'Convert to Task',
      'command': 'tasks:convert-to-task'
    }
    {
      'label': 'Update Timestamp Format',
      'command': 'tasks:update-timestamps'
    }
    {
      'label': 'Add/Update Current Timestamp',
      'command': 'tasks:set-timestamp'
    }
    {'type': 'separator'}
  ]
