'context-menu':
  'atom-text-editor[data-grammar~="todo"]': [
    {'type': 'separator'}
    {
      'label': 'Add Task',
      'command': 'tasks:add'
    }
    {
      'label': 'Complete Task',
      'command': 'tasks:complete'
    }
    {
      'label': 'Archive Tasks',
      'command': 'tasks:archive'
    }
    {
      'label': 'Update Timestamp Format',
      'command': 'tasks:updateTimestamps'
    }
    {
      'label': 'Cancel Task',
      'command': 'tasks:cancel'
    }
    {'type': 'separator'}
  ]
