'fileTypes': [
  'todo'
  'taskpaper'
]
'scopeName': 'source.todo'

'name': 'Tasks'
'patterns': [

  {
    'match': '(.*):$'
    'name': 'control.tasks.header.$1'
  }

  {
    'begin': '^([\\s]+)(.)(?=.*@done)'
    'end': '$'
    'name': 'tasks.text.done'
    'captures': '2': 'name': 'keyword.tasks.marker'
    'patterns': [
      {'include': '#attribute'}
    ]
  }

  {
    'begin': '^([\\s]+)(.)(?=.*@cancelled)'
    'end': '$'
    'name': 'tasks.text.cancelled'
    'captures': '2': 'name': 'keyword.tasks.marker'
    'patterns': [
      {'include': '#attribute'}
    ]
  }
  
  {
    'begin': '^([\\s]+)(.)'
    'end': '$'
    'name': 'tasks.text'
    'captures': '2': 'name': 'keyword.tasks.marker'
    'patterns': [
      {'include': '#attribute'}
    ]
  }
]

'repository':
  'attribute':
    'match': '@([\\w]+)(?:\\((.*?)\\))?'
    'name': 'tasks.attribute.$1'
    'captures':
      '1': 'name': 'tasks.attribute-name'
      '2': 'name': 'tasks.attribute-value'
