'fileTypes': [
  'todo'
  'taskpaper'
]
'scopeName': 'source.todo'

'name': 'Tasks'
'patterns': [

  {
    'match': '(.*):$'
    'name': 'control.tasks.header.$1'
  }
  
  {
    'begin': '^(?:[\\s]+)(?=.*@done)'
    'end': '$'
    'patterns': [
      {
        'match': '@([\\w]+) ?(?:\\((.*?)\\))?'
        'name':'keyword.tasks.attribute.$1.done'
      }
      {
        'match': '(✔)'
        'captures':
          '1': 'name': 'keyword.tasks.marker.done'
          '2': 'name': 'tasks.text.done'
      }
      {
        'match': '.'
        'name': 'tasks.text.done'
      }
    ]
  }

  {
    'begin': '^(?:[\\s]+)(?=.*@cancelled)'
    'end': '$'
    'patterns': [
      {
        'match': '@([\\w]+) ?(?:\\((.*?)\\))?'
        'name':'keyword.tasks.attribute.$1.cancelled'
      }
      {
        'match': '(✘)'
        'captures':
          '1': 'name': 'keyword.tasks.marker.cancelled'
          '2': 'name': 'tasks.text.cancelled'
      }
      {
        'match': '.'
        'name': 'tasks.text.cancelled'
      }
    ]
  }

  {
    'begin': '^(?:[\\s]+?)(?=☐)'
    'end': '$'
    'patterns': [
      {
        'match': '@([\\w]+) ?(?:\\((.*?)\\))?'
        'name':'keyword.tasks.attribute.$1'
      }
      {
        'match': '(☐)'
        'captures':
          '1': 'name': 'keyword.tasks.marker'
          '2': 'name': 'tasks.text'
      }
      {
        'match': '.'
        'name': 'tasks.text'
      }
    ]
  }
]
